
.tipo-grass {
    background-color: #9bcc50;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-fire {
    background-color: #fd7d24;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-water {
    background-color: #4592c4;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-bug {
    background-color: #729f3f;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center; 
}

.tipo-normal {
    background-color: #a4acaf;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-poison {
    background-color: #b97fc9;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-electric {
    background-color: #eed535;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-ground {
    background-color: #9c6644;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-fairy {
    background-color: #fcd5ce;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center; 
}

.tipo-fighting {
    background-color: #d56723;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-psychic {
    background-color: #f366b9;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-rock {
    background-color: #a38c21;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.tipo-ghost {
    background-color: #7b62a3;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center; 
}

.tipo-icy {
    background-color: #51c4e7;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center; 
}

.tipo-dragon {
    background: linear-gradient(
    180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center; 
}

.tipo-flying {
    background: linear-gradient(
        180deg, #3dc7ef 50%, #bdb9b8 50%);
            background-color: #3dc7ef;
            color: #212121;
    color: #fff;
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;  
}