@charset "UTF-8";
/*AQUI VA TODO EL DISEÑO DE TODO EL HTML, ES EL CONJUNTO DE TODOS LOS DIVS, AQUI MODIFICO COMO QUIERO QUE SE COMPORTE EL CONJUNTO DE DIVS*/
.todo {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #495057;
}

.imagen-movimiento {
  width: 250px;
  height: 157px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  -webkit-animation: move 10s linear 0s infinite normal;
          animation: move 10s linear 0s infinite normal;
  border-style: none;
}

@-webkit-keyframes move {
  0% {
    left: 100px;
    bottom: 100px;
    opacity: 1;
  }
  20% {
    left: 300px;
    bottom: 300px;
    opacity: 0;
  }
  40% {
    left: 500px;
    bottom: 500px;
    opacity: 1;
  }
  60% {
    left: 800px;
    bottom: 300px;
    opacity: 0;
  }
  80% {
    left: 1200px;
    bottom: 100px;
    opacity: 1;
  }
  100% {
    left: 800px;
    bottom: -200px;
  }
}

@keyframes move {
  0% {
    left: 100px;
    bottom: 100px;
    opacity: 1;
  }
  20% {
    left: 300px;
    bottom: 300px;
    opacity: 0;
  }
  40% {
    left: 500px;
    bottom: 500px;
    opacity: 1;
  }
  60% {
    left: 800px;
    bottom: 300px;
    opacity: 0;
  }
  80% {
    left: 1200px;
    bottom: 100px;
    opacity: 1;
  }
  100% {
    left: 800px;
    bottom: -200px;
  }
}

body {
  background-color: #495057;
  overflow-x: hidden;
}

/*AQUI VA TODO EL DISEÑO DE LA CAJA DE LOS POKEMONS, EL DISEÑO DE CADA CAJA INDIVIDUAL*/
.caja-pokemon {
  width: 350px;
  height: 220px;
  margin: 10px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: #dee2ff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
          box-shadow: 0px 0px 15px 15px #ec731e;
}

/*AQUI VOY A CAMBIAR TODOS LOS ATRIBUTOS QUE ESTÁN DENTRO DE LA CAJA POKEMON*/
.nombre-pokemon {
  font-family: "Flexo-Demi",arial,sans-serif;
  color: #313131;
  text-transform: none;
  font-size: 145%;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-top: 10px;
  text-align: center;
}

.imagen {
  width: 300px;
  height: 100px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: sport 6s linear 0s infinite normal;
          animation: sport 6s linear 0s infinite normal;
}

.imagen:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes sport {
  from {
    -webkit-transform: rotateX(-10deg) rotateY(0deg);
            transform: rotateX(-10deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(-10deg) rotateY(360deg);
            transform: rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes sport {
  from {
    -webkit-transform: rotateX(-10deg) rotateY(0deg);
            transform: rotateX(-10deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(-10deg) rotateY(360deg);
            transform: rotateX(-10deg) rotateY(360deg);
  }
}

.id-pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-top: 0ch;
  margin-bottom: 0px;
  font-size: small;
  color: #ADB5BD;
  width: 30px;
  height: 10px;
}

.tipo-grass {
  background-color: #9bcc50;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-fire {
  background-color: #fd7d24;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-water {
  background-color: #4592c4;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-bug {
  background-color: #729f3f;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-normal {
  background-color: #a4acaf;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-poison {
  background-color: #b97fc9;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-electric {
  background-color: #eed535;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-ground {
  background-color: #9c6644;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-fairy {
  background-color: #fcd5ce;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-fighting {
  background-color: #d56723;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-psychic {
  background-color: #f366b9;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-rock {
  background-color: #a38c21;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-ghost {
  background-color: #7b62a3;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-icy {
  background-color: #51c4e7;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-dragon {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #53a4cf), color-stop(50%, #f16e57));
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.tipo-flying {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3dc7ef), color-stop(50%, #bdb9b8));
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
  color: #fff;
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #495057;
}

.imagen-mew {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: 45%;
  margin-left: -100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 5px solid skyblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 400px;
}

.imagen-mew:hover {
  -webkit-animation: sport 6s linear 0s infinite normal;
          animation: sport 6s linear 0s infinite normal;
}

.body-mew {
  background-image: url("./fondo-mew.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.caja-mew {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 800px;
  height: 100px;
  margin-left: 550px;
  margin-top: 600px;
  font-size: 150%;
  text-shadow: 0px 0px 16px black;
}

.nombre-mew {
  text-shadow: 0px 0px 16px black;
}

.imagen-cada-pokemon {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: 45%;
  margin-left: -100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 5px solid skyblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 400px;
}

/*.imagen-cada-pokemon:hover {
    //animation-play-state: paused;
    animation: sport 6s linear 0s infinite normal;
}*/
.body-cada-pokemon {
  background-image: url("./fondo-mew.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.caja-cada-pokemon {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 800px;
  height: 100px;
  margin-left: 550px;
  margin-top: 600px;
  font-size: 150%;
  text-shadow: 0px 0px 16px black;
}

.nombre-cada-pokemon {
  text-shadow: 0px 0px 16px black;
}
/*# sourceMappingURL=styles.css.map */