/*AQUI VA TODO EL DISEÑO DE TODO EL HTML, ES EL CONJUNTO DE TODOS LOS DIVS, AQUI MODIFICO COMO QUIERO QUE SE COMPORTE EL CONJUNTO DE DIVS*/
.todo{
    width: 90vw;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*AQUI VA TODO EL DISEÑO DE LA CAJA DE LOS POKEMONS, EL DISEÑO DE CADA CAJA INDIVIDUAL*/
.caja-pokemon {
    background-color:greenyellow;
    width: 300px;
    margin: 10px;
    display: block;
    flex-direction: row;
    position: relative;
}

/*AQUI VOY A CAMBIAR TODOS LOS ATRIBUTOS QUE ESTÁN DENTRO DE LA CAJA POKEMON*/
.nombre-pokemon {
    display: flex;
    margin-left: 60px;
}

.imagen {
    width: 160px;
    height: 100px;
    object-fit: scale-down;
    margin:auto;
    display: flex; 
    flex-direction: column;
}

.id-pokemon {
    display: flex;
    margin-left: 60px;
    font-size: small; 
    color: #ADB5BD;
}

.tipo-pokemon {
    display: flex;

}


/*AQUI VA TODO EL DISEÑO DEL BODY*/
body {
    width: 70%;
    ;
}
